*{
margin: Opx;
padding: Opx;
}
.content h5, p{
text-align: center;
}
.form-width{
width: 50%;
}
.footer{
background-color: grey;
color: white;
}
a{
text-decoration: none;
}
.nav-link{
font-size: 12px;
}
.floatted{
position: fixed;
bottom: 0;
right: 5%;
width: 28%;
height: 100%;
}
form p{
font-size: 20px;
color: skyblue;
}
.form-part{
  background-color: rgb (228, 223, 223);
}
@media only screen and (max-width: 750px) {
  .form-width{
    width: 80%;
  }
  .desktop{
    display: none;
  }
}
@media only screen and (min-width: 751px) {
  .mobile{
    display: none;
  }
}
